{% extends "base.html" %}
{% block contents %}

<div class="row mt-5">
<div class="col-12 text-center">
    <h1>회원가입</h1>
</div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
<div class="col-12">
    <form method="POST" action=".">
        {% csrf_token %}
    <div class="form-group">
        <label for="username">사용자 이름</label>
        <input
        type="text"
        class="form-control"
        id="username"
        placeholder="사용자 이름"
        name="username"
        />
        
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input
        type="password"
        class="form-control"
        id="password"
        placeholder="비밀번호"
        name="password"
        />
    </div>
    
    <div class="form-group">
        <label for="re-password">비밀번호 확인</label>
        <input
        type="password"
        class="form-control"
        id="re-password"
        placeholder="비밀번호 확인"
        name="re-password"
        />
    </div>
    <div class="form-group">
        <label for="useremail">사용자 Email</label>
        <input type="email" class="form-control" id="useremail" name="useremail" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</div>

{% endblock contents %}